* { margin:0; padding:0; }

html, body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

body {
	background-color: white;
}

.small-text {
	font-size: 0.8rem;
}

#canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.node {
	position: absolute;
	border: 1px solid black;
	background-color: white;
	min-width: 210px;
	top: 32px;
	left: 32px;
}

.nodeHandle {
	background-color: grey;
	width: 100%;
	height: 24px;
	cursor: move;
	color: white;
	text-align: center;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.nodeContents {
	padding: 10px 24px 0 10px;
}

.inputs {
	width: 100%;
	margin-bottom: 10px;
}

.setTo {
	text-align: center;
	margin-bottom: 12px;
}

.setTo button {
	min-width: 24px;
}

.managerWindow, .projectList, .popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	box-shadow: 5px 10px;
}

.managerWindow {
	display: none;
}

.pageName {
	position: fixed;
	top: 5px;
	right: 5px;
	color: rgba(0, 0, 0, 0.5);
}

.scrollList {
	height: 300px;
	overflow: auto;
}

.fakeLink {
	color: blue;
	cursor: pointer;
}

textarea {
	font-size: 0.8rem;
	padding: 5px;
	line-height: 1.5;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #999;
	background: #eee;
    border-radius: 5px;
	caret-color: blue;
}

.nodeOuts {
	position: absolute;
	top: 24px;
	height: calc(100% - 24px);
	right: 0;
	width: 22px;
}

.nodeOuts button {
	width: 100%;
}

.nodeOuts button, .nodeOption button {
	height: 22px;
}

.nodeOption {
	position: relative;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 4px;
}

.nodeOption button {
	position: relative;
	top: 0;
	width: 24px;
}

.nodeOption .inputs {
	height: 22px;
}

.fileOptions {
	position: fixed;
	right: 0;
	bottom: 64px;
	background-color: white;
	border: 1px solid black;
}

.fileOptions button {
	padding: 10px;
	width: 100%;
}

.fileOptions ul {
	list-style: none;
}

.projectWindow ul {
	list-style: none;
	margin-left: 10px;
}

.projectWindow li {
	margin-left: 12px;
}

.folderName, .fileName {
	cursor: pointer;
}

.actionMenu {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: white;
	padding: 10px;
	border: 1px solid black;
}

.actionMenu button, .actionMenu select {
	padding: 10px;
}

.nodeOutList {
	font-style: italic;
	color: grey;
}

.tinyText {
	position: absolute;
	font-size: 10px;
	bottom: 0;
	left: 2px;
	color: black;
}

.node textarea {
	min-height: 100px;
	max-height: 200px;
	min-width: 175px;
}

.projectWindow::after {
	content: "'P' to toggle this window \A CTRL/CMD + Click to rename \A ALT Click to delete";
	font-style: italic;
	font-size: 0.7em;
	color: #555;
	white-space: pre;
	word-wrap: break-word;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.projectWindow {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 5px;
	background-color: lightcyan;
	border-right: 1px solid black;
	overflow: hidden;
}

.projectWindow:hover, .openProjectWindow {
	width: 200px !important;
	overflow: auto !important;
}

.projectWindow span:hover {
	background-color: lightgoldenrodyellow;
}

.projectListEntry {
	cursor: pointer;
}

.projectListEntry:hover {
	background-color: lightgoldenrodyellow;
}

.popupContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.popup {
	width: 300px;
}

.popup h3 {
	text-align: center;
}

.popup input {
	padding: 5px;
	width: 100%;
	margin-bottom: 10px;
}

.popupButtons {
	text-align: center;
}

.popup button {
	padding: 5px;
}

.gitLinks {
	text-align: center;
	margin-bottom: 5px;
	font-size: 0.8em;
}