* {margin:0;padding:0;}

html, body {
	/* Uncomment this to enable scrolling and zooming
	touch-action: manipulation;
	*/
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
}

body {
	background-color: grey;
}

.fakeLink {
	color: lightskyblue;
	cursor: pointer;
	font-size: 20px;
}

.loadFolder {
	position: absolute;
	top: 0;
	left: 0;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: darkslategray;
}

.containerBg, .containerBgBuffer {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	left: 0;
	top: 0;
}

.containerOverlay {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr 0.75fr;
	min-height: 0;
	min-width: 0;
}

.displayLeft, .displayRight, .displayCenter {
	overflow: hidden;
	min-width: 0;
}

.containerOverlay button {
	width: 100%;
	padding: 5px;
}

ul {
	list-style: none;
}

.displayLeft {
	border-right: 1px solid gray;
}

.nodeContent {
	height: calc(100% - 20px);
	padding: 10px 20px;
	overflow: auto;
}

.displayRight {
	position: relative;
	border-left: 1px solid gray;
}

.rightButtons {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 55px;
	background-color: darkslategray;
	z-index:999;
}

.displayRight .healthBar {
	position: relative;
	width: 100%;
	height: 5px;
	background-color: darkred;
}

.displayRight .buttonInputs {
	display: flex;
	width: 100%;
	height: 50px;
}

.displayRight .buttonInputs button {
	position: relative;
	text-align: center;
	width: 25%;
	height: 100%;
}

.slideUpPanel {
	position: relative;
	display: none;
	top: 0;
	left: 0;
	color: white;
	padding: 10px;
	overflow: auto;
}

.slideUpPanel table {
	width: 100%;
	color: white;
}

.history {
	margin-bottom: 10px;
	font-size: 0.8em;
	color:rgba(255, 255, 255, 0.65);
}

.displayBox {
	height: calc(75% - 5px);
}

.displayBox, .optionBox {
	width: 100%;
	overflow: auto;
}

.optionBox {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	top: 50%;
	vertical-align: bottom;
	height: calc(25% - 10px);
	margin-top: 10px;
}

.optionBox ul {
	max-height: 100%;
}

.contentOverlay {
	user-select: none;
}

.logPanel {
	margin-bottom: 10px;
	height: calc(100% - 76px);
}